.player{
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.time-control{
    width: 50%;
    display: flex;
    align-items: center;
    input{
        width: 100%;
        -webkit-appearance: none;
        background: transparent;
        cursor: pointer;
    }
    p{
        padding: 1rem;
    }
}
.play-control{
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 1rem;
    svg{
        cursor: pointer;
    }
}
input[type="range"]:focus{
    outline: none;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
}
.track{
    background: lightblue;    
    width: 100%;
    height: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}
.animate-track{
    background-color: rgb(204, 204, 204);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateX(0%);
    pointer-events: none;
}